[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-bcrypt = "*"
datetime = "*"
flask-migrate = "*"
flask-restful = "*"
flask-swagger-ui = "*"

[dev-packages]

[requires]
python_version = "3.10"
