-i https://pypi.org/simple
alembic
aniso8601
bcrypt
blinker
click
flask
flask-bcrypt
flask-cors
flask-mail
flask-migrate
flask-restful
flask-sqlalchemy
greenlet
gunicorn
itsdangerous
jinja2
mako
markupsafe
packaging
pillow
psycopg2-binary
python-dotenv
pytz
setuptools
six
sqlalchemy
sqlalchemy-serializer
typing-extensions
werkzeug
zope.interface
